<!doctype html>
<html>
<head>
  <title>Index Page</title>
<!--   <link rel="stylesheet" type="text/css" href="main.css"> -->
</head>
<body>
	<!-- <img src="Mountain_logo.jpg" alt="Mountain View" style="width:304px;height:228px;"> -->
	<h1> Index Page </h1>
	 {{{body}}} 
</body> 