<!doctype html>
<html>
<head>
  <title>Generate a monthly email</title>
  <link href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="main.css"> 
</head>
<body>
	<!-- <img src="Mountain_logo.jpg" alt="Mountain View" style="width:304px;height:228px;"> -->
	 {{{body}}} 
</body> 